p, a, li {
	font-family: "Helvetica", sans-serif;
}
h1, h2, h3, section:first-child article a, section p:last-child, a p {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
}

h2 {
	font-size: 3vw;
}