/* import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&display=swap");
/* import dossier base */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 	border: 1px solid black; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input, button {
  border: none;
}

p, a, li {
  font-family: "Helvetica", sans-serif;
}

h1, h2, h3, section:first-child article a, section p:last-child {
  font-family: "Playfair Display", serif;
  font-weight: 400;
} /* import dossier utils */
/* Footer */
/* import dossier layout */
header {
  max-width: 2561px;
  max-height: 13233px;
  width: 100vw;
  height: 100vh;
  /*     background-color: $background;
   */
  background: no-repeat bottom url("./../img/slider/img_bg_slider_home01.jpg");
  padding: 3em 5vw;
  /* NAVBAR */
  /* TITLE */
}
header article:nth-child(1) {
  /* display: grid;
  grid-template-columns: 1fr 0.5fr 2fr 0.5fr 2fr; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
header article:nth-child(1) h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header article:nth-child(1) menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header article:nth-child(1) menu li {
  padding: 0 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header article:nth-child(1) menu li a {
  color: #fff;
  text-decoration: none;
}
header article:nth-child(1) menu li a:hover {
  color: #c8a96a;
}
header article:nth-child(1) div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header article:nth-child(1) div a:nth-child(1) {
  color: #fff;
  text-decoration: none;
  margin-right: 1em;
}
header article:nth-child(1) div a:nth-child(2) {
  color: #fff;
  background-color: #c8a96a;
  padding: 1.5em 2em 1.5em 2.5em;
  border-radius: 5%;
  text-decoration: none;
  margin-left: 1em;
}
header article:nth-child(1) div a:nth-child(2) i {
  margin-left: 1rem;
}
header article:nth-child(2) {
  width: calc(100% - 10rem);
  margin-top: 5em;
  margin-left: 10vw;
}
header article:nth-child(2) div {
  position: relative;
}
header article:nth-child(2) div h1 {
  font-size: 6em;
  color: #fff;
  margin-bottom: 2rem;
  text-align: left;
}
header article:nth-child(2) div figure {
  position: absolute;
  top: 0;
  left: 20vw;
  width: auto;
  height: 16px;
}
header article:nth-child(2) div figure img {
  width: 100%;
  height: auto;
}
header article:nth-child(2) div a {
  color: #fff;
  padding: 1em 2em;
  border: 1px solid rgba(255, 255, 255, 0.4862745098);
  border-radius: 5%;
}

body {
  width: 100vw;
  min-height: 100vh;
}

section {
  width: 100%;
}
section:nth-child(1) {
  background-image: url("../img/banner/imgbgcategory.png");
  background-color: #faf6f0;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10vh;
  padding: 5vh 10vw;
}
section:nth-child(1) article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
section:nth-child(1) article a {
  background: #fefefe;
}

body > main > section:nth-child(3) {
  width: 100vw;
  height: 100vh;
  background-color: #faf6f0;
  position: relative;
  /* PAIN */
  /* STEAK  */
}
body > main > section:nth-child(3) h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 2rem;
  padding-top: 7rem;
}
body > main > section:nth-child(3) p {
  text-align: center;
  font-size: 1em;
  color: rgb(90, 90, 90);
}
body > main > section:nth-child(3) article {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  z-index: 10;
  position: relative;
  top: 10%;
}
body > main > section:nth-child(3) #menu {
  border: 2px dashed transparent;
  display: flex;
  flex-wrap: nowrap;
}
body > main > section:nth-child(3) #menu:hover {
  border: 2px dashed #c8a96a;
}
body > main > section:nth-child(3) figure:nth-child(6) {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 100vh;
  z-index: 0;
}
body > main > section:nth-child(3) figure:nth-child(6) img {
  width: auto;
  height: 100vh;
  z-index: -1;
}
body > main > section:nth-child(3) figure:nth-child(7) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  height: 50vh;
  z-index: 0;
}
body > main > section:nth-child(3) figure:nth-child(7) img {
  width: auto;
  height: 100vh;
  z-index: -1;
}

body > main > section:nth-child(3) > article > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 492px;
  padding: 0 2rem;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 1rem;
}
body > main > section:nth-child(3) > article > div #price {
  margin-left: 3em;
  font-size: 2em;
  color: #c8a96a;
}

#menu > div > p {
  text-align: left;
  width: 100%;
  font-size: 0.7rem;
}

body > main > section:nth-child(3) > p:nth-child(4) {
  position: absolute;
  font-size: 10rem;
  z-index: 0;
  top: 0.1em;
  left: 0.1em;
  color: rgba(255, 235, 196, 0.6705882353);
  font-family: "Playfair Display", serif;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  background-color: #090d0f;
  color: hsla(0, 0%, 100%, 0.5);
  padding: 5vh 10vw;
}
footer article {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5vw;
  padding: 2vh 0;
}
footer article p, footer article li {
  font-size: 0.8em;
}
footer article ul {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  padding: 0 2em;
}
footer article ul li {
  line-height: 2em;
}
footer article ul li h3 {
  font-size: 1.7em;
  margin-bottom: 0.5em;
  color: #FFF;
}
footer article ul li address {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-style: normal;
}
footer article ul li address a {
  color: hsla(0, 0%, 100%, 0.5);
}
footer article ul:nth-child(3) {
  width: 25%;
}
footer article ul:nth-child(3) li:last-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer article ul:nth-child(3) li:last-child input {
  width: 85%;
  background: #FFF;
  color: #090d0f;
  padding: 1.5rem;
  font-size: 1.3em;
}
footer article ul:nth-child(3) li:last-child button {
  padding: 1.5rem;
  background: #c8a96a;
}
footer article ul:nth-child(3) li:last-child button i {
  font-size: 1.5em;
  color: #FFF;
}
footer article ul:nth-child(4) {
  width: 20%;
}
footer article ul:nth-child(4) i {
  color: #c8a96a;
  margin-right: 1.5em;
}
footer article:first-child ul li:first-child {
  margin-bottom: 0.5em;
}
footer article:last-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer article:last-child div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer article:last-child div p em {
  font-style: normal;
  color: #c8a96a;
}
footer article:last-child div figure {
  margin-left: 1em;
}
footer article:last-child div figure img {
  width: 4em;
}
footer article:last-child ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  width: auto;
}
footer article:last-child ul li i {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 2em;
  aspect-ratio: 1/1;
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 50px;
}
footer article:last-child ul li i:hover {
  background: #c8a96a;
}

/*# sourceMappingURL=style.css.map */
