/* import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&display=swap");
/* import dossier base */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 	border: 1px solid black; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input, button {
  border: none;
}

body, html {
  height: 100%;
  overflow-x: hidden;
}

p, a, li {
  font-family: "Helvetica", sans-serif;
}

h1, h2, h3, section:first-child article a, section p:last-child, a p {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

h2 {
  font-size: 3em;
}

@font-face {
  font-family: "flaticon";
  src: url("../font/flaticon.ttf") format("truetype");
}
[data-icon]:before {
  font-family: "flaticon";
  content: attr(data-icon);
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* import dossier utils */
/* Footer */
/* import dossier layout */
header {
  max-width: 2561px;
  max-height: 13233px;
  width: 100vw;
  height: 100vh;
  /*     background-color: $background;
   */
  background: no-repeat bottom url("./../img/slider/img_bg_slider_home01.jpg");
  background-size: cover;
  padding: 3em 5vw;
  position: relative;
  /* NAVBAR */
  /* TITLE */
}
header a {
  transition: all 0.3s ease;
}
header article:nth-child(1) {
  /* display: grid;
  grid-template-columns: 1fr 0.5fr 2fr 0.5fr 2fr; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #c7a86a;
}
header article:nth-child(1) h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header article:nth-child(1) input#burger {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  z-index: 200;
  position: fixed;
  top: 3rem;
  right: 5vw;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
}
header article:nth-child(1) span, header article:nth-child(1) span::before, header article:nth-child(1) span::after {
  background: #c7a86a;
  transition: all 0.3s ease;
}
header article:nth-child(1) span {
  display: none;
  z-index: 190;
  position: fixed;
  top: 3rem;
  right: 5vw;
  width: 30px;
  height: 3px;
}
header article:nth-child(1) span::before, header article:nth-child(1) span::after {
  content: "";
  width: 30px;
  height: 3px;
  position: absolute;
  top: 10px;
}
header article:nth-child(1) span::after {
  top: 20px;
}
header article:nth-child(1) menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  transition-delay: 0.4s;
  gap: 25vw;
}
header article:nth-child(1) menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
header article:nth-child(1) menu ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  transition-delay: 0s;
}
header article:nth-child(1) menu ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
}
header article:nth-child(1) menu ul li a i {
  margin-left: 0.5em;
}
header article:nth-child(1) menu ul li a:hover {
  color: #c7a86a;
}
header article:nth-child(1) div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3em;
}
header article:nth-child(1) div a:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  color: #fff;
  text-decoration: none;
}
header article:nth-child(1) div a:nth-child(1) img {
  width: 1em;
}
header article:nth-child(1) div a:nth-child(2) {
  color: #fff;
  background-color: #c7a86a;
  border-radius: 5px;
  text-decoration: none;
  padding: 1em 1.5em;
  font-size: 0.8em;
  font-weight: 800;
  transition: all 0.3s ease;
}
header article:nth-child(1) div a:nth-child(2) i {
  margin-left: 1rem;
}
header article:nth-child(1) div a:nth-child(2):hover {
  background: #FFF;
  color: #c7a86a;
}
header article:nth-child(1) div a:nth-child(2):hover i {
  color: #c7a86a;
}
header article:nth-child(2) {
  width: calc(100% - 10rem);
  margin-top: 5em;
  margin-left: 10vw;
}
header article:nth-child(2) div {
  position: relative;
}
header article:nth-child(2) div h1 {
  font-size: 6em;
  color: #fff;
  margin-bottom: 2rem;
  text-align: left;
}
header article:nth-child(2) div figure {
  position: absolute;
  top: 0;
  left: 20vw;
  width: auto;
  height: 16px;
}
header article:nth-child(2) div figure img {
  width: 100%;
  height: auto;
}
header article:nth-child(2) div a {
  color: #fff;
  padding: 1em 2em;
  border: 1px solid hsla(0, 0%, 100%, 0.4);
  border-radius: 5px;
}
header article:nth-child(2) div a:hover {
  background: hsla(0, 0%, 100%, 0.4);
}

@media screen and (max-width: 1400px) {
  header article:nth-child(1) menu {
    gap: 10vw;
  }
}
@media screen and (max-width: 1200px) {
  header article:nth-child(2) menu {
    gap: 3em;
  }
}
@media screen and (max-width: 1060px) {
  header article:nth-child(1) input#burger {
    display: block;
  }
  header article:nth-child(1) input#burger:checked ~ span {
    background: #090d0f;
    transform: rotate(-45deg) translate(-10px, 5px);
  }
  header article:nth-child(1) input#burger:checked ~ span::before {
    background: #090d0f;
    transform: rotate(90deg) translateX(-9.5px);
  }
  header article:nth-child(1) input#burger:checked ~ span::after {
    opacity: 0;
    transform: translateX(-50px);
  }
  header article:nth-child(1) input#burger:checked ~ menu {
    position: fixed;
    top: 0;
    transition-delay: 0s;
  }
  header article:nth-child(1) input#burger:checked ~ menu li {
    opacity: 1;
    transition-delay: 0.4s;
  }
  header article:nth-child(1) input#burger:checked ~ menu div {
    opacity: 1;
    transition-delay: 0.4s;
  }
  header article:nth-child(1) span {
    display: inline;
  }
  header article:nth-child(1) menu {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: -100vh;
    background: #FFF;
    flex-direction: column;
    z-index: 100;
    gap: 2em;
  }
  header article:nth-child(1) menu ul {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }
  header article:nth-child(1) menu ul li {
    font-size: 1.5em;
    opacity: 0;
    width: 100%;
  }
  header article:nth-child(1) menu ul li a {
    color: #090d0f;
    padding: 2rem 0;
    width: 100%;
  }
  header article:nth-child(1) menu ul li a:hover {
    background: hsla(0, 0%, 0%, 0.05);
  }
  header article:nth-child(1) menu div {
    flex-direction: column;
    opacity: 0;
    transition: all 0.3s ease;
    transition-delay: 0s;
    margin: 2em 0;
    gap: 2em;
  }
  header article:nth-child(1) menu div a:first-child {
    color: #090d0f;
  }
  header article:nth-child(1) menu div a:last-child {
    background: #090d0f;
  }
  header article:nth-child(1) menu div a:last-child i {
    color: #FFF;
  }
  header article:nth-child(1) menu div a:last-child:hover {
    background: #c7a86a;
    color: #FFF;
  }
  header article:nth-child(1) menu div a:last-child:hover i {
    color: #FFF;
  }
  header article:nth-child(1) menu div a:hover {
    color: #c7a86a;
  }
  header article:nth-child(1) div {
    gap: 1em;
  }
  header article:nth-child(1) i#burger {
    display: flex;
  }
}
body {
  width: 100vw;
  min-height: 100vh;
}

section:nth-child(5) {
  background: #090d0f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20vh 0;
}
section:nth-child(5) h2, section:nth-child(5) p {
  color: #FFF;
}
section:nth-child(5) h2 {
  margin-bottom: 2vh;
}
section:nth-child(5) article {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  margin-top: 10vh;
}
section:nth-child(5) article figure img {
  width: 220px;
}

section:nth-child(4) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 30;
  padding: 20vh 0;
}
section:nth-child(4) article {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  margin-top: 20vh;
  margin-bottom: 10vh;
}
section:nth-child(4) article figure {
  position: relative;
}
section:nth-child(4) article figure img {
  position: relative;
  z-index: 30;
}
section:nth-child(4) article figure div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section:nth-child(4) article figure div i, section:nth-child(4) article figure div h3, section:nth-child(4) article figure div p {
  position: absolute;
  color: #FFF;
  transition: all 0.5s ease;
  opacity: 0;
}
section:nth-child(4) article figure div i {
  top: 2em;
  right: 2em;
  font-size: 1.3em;
  z-index: 35;
}
section:nth-child(4) article figure div h3 {
  bottom: 40%;
  font-size: 1.6em;
  z-index: 40;
}
section:nth-child(4) article figure div p {
  bottom: 35%;
  font-size: 0.9em;
  z-index: 45;
}
section:nth-child(4) article figure div:hover {
  background-color: hsla(0, 0%, 13%, 0.8);
}
section:nth-child(4) article figure div:hover i, section:nth-child(4) article figure div:hover h3, section:nth-child(4) article figure div:hover p {
  opacity: 1;
}
section:nth-child(4) a {
  color: #202020;
  border: 2px solid hsla(0, 0%, 13%, 0.1);
  padding: 1em 1.5em;
  transition: all 0.3s ease;
}
section:nth-child(4) a i {
  color: #202020;
  margin-left: 1em;
}
section:nth-child(4) a:hover {
  border-color: #202020;
}

@media screen and (max-width: 790px) {
  section:nth-child(4) article {
    width: 90vw;
  }
  section:nth-child(4) article figure img {
    width: calc(45vw - 1em);
  }
  section:nth-child(4) article figure:nth-child(1) img, section:nth-child(4) article figure:nth-child(6) img {
    width: 90vw;
  }
}
section:nth-child(2) {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 15vh;
}
section:nth-child(2) h2 {
  margin-bottom: 0.5em;
  margin-top: 50vw;
}
section:nth-child(2) div:first-child {
  position: absolute;
  top: -75px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
section:nth-child(2) div:first-child figure:nth-child(1) img {
  width: 15vw;
}
section:nth-child(2) div:first-child figure:nth-child(3) img {
  width: 20vw;
}
section:nth-child(2) div:first-child figure:nth-child(2) img {
  width: 50vw;
  border-radius: 500px;
  border: 2em solid #FFF;
}
section:nth-child(2) figure:nth-child(4) {
  position: absolute;
  right: 10vw;
  bottom: 85vh;
}
section:nth-child(2) figure:nth-child(4) img {
  width: 10vw;
}
section:nth-child(2) div:nth-child(5) {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5em;
  margin-top: 15vh;
}
section:nth-child(2) div:nth-child(5) figure {
  width: 30vw;
}
section:nth-child(2) div:nth-child(5) figure img {
  width: 100%;
}
section:nth-child(2) div:nth-child(5) article {
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2em;
}
section:nth-child(2) div:nth-child(5) article p {
  font-size: 1.8vw;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.05em;
  line-height: 2.2em;
}
section:nth-child(2) div:nth-child(5) article a {
  padding: 1.5em 2.5em;
  background: #c7a86a;
  color: #FFF;
  border-radius: 5px;
  font-size: 0.8em;
  font-weight: 800;
  transition: all 0.3s ease;
}
section:nth-child(2) div:nth-child(5) article a i {
  color: #FFF;
  margin-left: 0.5em;
}
section:nth-child(2) div:nth-child(5) article a:hover {
  background: hsla(40, 46%, 60%, 0.5);
}
section:nth-child(2) > p:last-child {
  top: unset;
  bottom: 45vw;
}

section {
  width: 100%;
  position: relative;
}
section > p:last-child {
  position: absolute !important;
  z-index: 1;
  top: 5vh;
  left: 0;
  font-size: 11vw !important;
  color: hsla(40, 46%, 60%, 0.2) !important;
}
section:nth-child(1) {
  background-image: url("../img/banner/imgbgcategory.jpg");
  background-color: #faf6f0;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15vh 5vw 35vh 5vw;
}
section:nth-child(1) h2 {
  margin-bottom: 0.5em;
}
section:nth-child(1) h2 ~ p {
  margin-bottom: 10em;
  font-weight: 200;
}
section:nth-child(1) article {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  position: relative;
  z-index: 10;
}
section:nth-child(1) article a {
  width: 180px;
  min-height: 205px;
  padding: 1em 0.5em;
  background: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: #202020;
  transition: all 0.3s ease;
  font-size: 1.2em;
}
section:nth-child(1) article a:nth-child(1) span {
  display: block;
  width: 50px;
  aspect-ratio: 1/1;
  background-image: url("../img/icon/icon-dark/burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
section:nth-child(1) article a:nth-child(1):hover span {
  background-image: url("../img/icon/icon-light/burger.svg");
}
section:nth-child(1) article a:nth-child(2) span {
  display: block;
  width: 50px;
  aspect-ratio: 1/1;
  background-image: url("../img/icon/icon-dark/pizza.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
section:nth-child(1) article a:nth-child(2):hover span {
  background-image: url("../img/icon/icon-light/pizza.svg");
}
section:nth-child(1) article a:nth-child(3) span {
  display: block;
  width: 50px;
  aspect-ratio: 1/1;
  background-image: url("../img/icon/icon-dark/coffee.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
section:nth-child(1) article a:nth-child(3):hover span {
  background-image: url("../img/icon/icon-light/coffee.svg");
}
section:nth-child(1) article a:nth-child(4) span {
  display: block;
  width: 50px;
  aspect-ratio: 1/1;
  background-image: url("../img/icon/icon-dark/chicken-leg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
section:nth-child(1) article a:nth-child(4):hover span {
  background-image: url("../img/icon/icon-light/chicken-leg.svg");
}
section:nth-child(1) article a:nth-child(5) span {
  display: block;
  width: 50px;
  aspect-ratio: 1/1;
  background-image: url("../img/icon/icon-dark/cocktail.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
section:nth-child(1) article a:nth-child(5):hover span {
  background-image: url("../img/icon/icon-light/cocktail.svg");
}
section:nth-child(1) article a:nth-child(6) span {
  display: block;
  width: 50px;
  aspect-ratio: 1/1;
  background-image: url("../img/icon/icon-dark/shrimp.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
section:nth-child(1) article a:nth-child(6):hover span {
  background-image: url("../img/icon/icon-light/shrimp.svg");
}
section:nth-child(1) article a img {
  width: 2em;
}
section:nth-child(1) article a:hover {
  background: #c7a86a;
  color: #FFF;
}
section:nth-child(1) article a:hover i {
  color: #FFF;
}

body > main > section:nth-child(3) {
  width: 100vw;
  min-height: 100vh;
  background-color: #faf6f0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  /* PAIN */
  /* STEAK  */
}
body > main > section:nth-child(3) h2 {
  font-size: 2em;
  margin-bottom: 2rem;
  position: relative;
  z-index: 2;
  font-weight: 400;
}
body > main > section:nth-child(3) p {
  position: relative;
  font-size: 1vw;
  color: rgb(90, 90, 90);
  z-index: 3;
}
body > main > section:nth-child(3) article {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 10;
  position: relative;
  gap: 2em;
  padding: 3em;
}
body > main > section:nth-child(3) .menu {
  width: 40vw;
  border: 2px dashed transparent;
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 2rem;
}
body > main > section:nth-child(3) .menu div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
body > main > section:nth-child(3) .menu:hover {
  border: 2px dashed #c7a86a;
}
body > main > section:nth-child(3) figure:nth-child(5) {
  position: absolute;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100vh;
  z-index: 0;
}
body > main > section:nth-child(3) figure:nth-child(5) img {
  width: auto;
  height: 100vh;
  z-index: -1;
}
body > main > section:nth-child(3) figure:nth-child(4) {
  position: absolute;
  bottom: -10vh;
  left: 0;
  width: 20vw;
  height: 50vh;
  z-index: 0;
}
body > main > section:nth-child(3) figure:nth-child(4) img {
  width: auto;
  height: 55vh;
  z-index: -1;
}

body > main > section:nth-child(3) > article > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 492px;
  padding: 0 2rem;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 1rem;
}
body > main > section:nth-child(3) > article > div .price {
  margin-left: 3em;
  font-size: 2vw;
  color: #c7a86a;
}

.menu > div > p {
  text-align: left;
  width: 100%;
  font-size: 0.7vw;
}

body > main > section:nth-child(3) > p:nth-child(6) {
  z-index: 0;
  font-family: "Playfair Display", serif;
}

@media screen and (max-width: 640px) {
  body > main > section:nth-child(3) .menu {
    width: 80vw;
  }
}
.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

/* || GENERAL STYLES */
section:nth-child(6) {
  background-color: #fefefe;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
section:nth-child(6) h2 {
  letter-spacing: 0.1em;
  font-size: 3em;
  margin-top: 10vh;
  margin-bottom: 2vh;
}
section:nth-child(6) .blog_p_description {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 0.7em;
}
section:nth-child(6) .blog_p, section:nth-child(6) .blog_a_readmore {
  font-family: "Helvetica", sans-serif;
  font-size: 0.7em;
}
section:nth-child(6) .blog_p_date, section:nth-child(6) .blog_cite_author {
  font-size: 0.8em;
  font-family: "Helvetica", sans-serif;
}

.blog_div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 2em;
}

.blog_article {
  width: 300px;
  background-color: #faf6f0;
  padding-bottom: 1em;
}

.blog_figure {
  width: 300px;
  height: auto;
}

.blog_img.picture {
  width: 100%;
  height: auto;
}

.blog_span {
  display: flex;
  align-items: center;
  padding-left: 1.5em;
  padding-top: 1em;
}

.blog_cite_author, .blog_p_date {
  margin: auto 2em auto 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-style: normal;
}

.blog_p_description {
  padding-left: 1.5em;
  margin-top: 1em;
}

.blog_a_readmore {
  display: inline-block;
  margin: 1em 0 1em 1.5em;
  color: #000;
  background-color: #FFF;
  padding: 1em 1.5em;
  transition: all 0.3s ease;
}
.blog_a_readmore i {
  margin-left: 0.5em;
}
.blog_a_readmore:hover {
  background-color: #c8a96a;
  color: #FFF;
}
.blog_a_readmore:hover i {
  color: #FFF;
}

.blog_ul {
  display: flex;
  justify-content: space-evenly;
  filter: saturate(0);
  margin: 0 10vw;
  gap: 5vw;
}

.blog_li {
  margin: auto;
}

.brand {
  width: 75px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  background-color: #090d0f;
  color: hsla(0, 0%, 100%, 0.5);
  padding: 5vh 5%;
}
footer article {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5vw;
  padding: 2vh 0;
}
footer article p, footer article li {
  font-size: 0.8em;
}
footer article ul {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  width: 150px;
}
footer article ul li {
  line-height: 2em;
}
footer article ul li h3 {
  font-size: 1.7em;
  margin-bottom: 0.5em;
  color: #FFF;
}
footer article ul li address {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-style: normal;
}
footer article ul li address a {
  color: hsla(0, 0%, 100%, 0.5);
}
footer article ul:nth-child(3) {
  width: 350px;
}
footer article ul:nth-child(3) li:last-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
footer article ul:nth-child(3) li:last-child input {
  width: 200px;
  height: 50px;
  background: #FFF;
  color: #090d0f;
  padding: 1rem 1.5rem;
  font-size: 1.3em;
}
footer article ul:nth-child(3) li:last-child button {
  width: 50px;
  aspect-ratio: 1/1;
  background: #c8a96a;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
footer article ul:nth-child(3) li:last-child button span {
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 50px;
  background: #FFF;
  transition: all 0.4s ease;
  z-index: 60;
}
footer article ul:nth-child(3) li:last-child button i {
  font-size: 1.5em;
  color: #FFF;
  transition: all 0.3s ease;
  position: relative;
  z-index: 70;
}
footer article ul:nth-child(3) li:last-child button:hover span {
  width: 50px;
}
footer article ul:nth-child(3) li:last-child button:hover i {
  color: #090d0f;
}
footer article ul:nth-child(4) {
  width: 20%;
}
footer article ul:nth-child(4) img {
  width: 1em;
  margin-right: 1em;
}
footer article:first-child ul li:first-child {
  margin-bottom: 0.5em;
}
footer article:last-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer article:last-child div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer article:last-child div p em {
  font-style: normal;
  color: #c8a96a;
}
footer article:last-child div figure {
  margin-left: 1em;
}
footer article:last-child div figure img {
  width: 4em;
}
footer article:last-child ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  width: auto;
}
footer article:last-child ul li i {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 2em;
  aspect-ratio: 1/1;
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 50px;
}
footer article:last-child ul li i:hover {
  background: #c8a96a;
}

/*# sourceMappingURL=style.css.map */
