@media screen and (max-width: 1400px) {
	header {
		article:nth-child(1) {
			menu {
				gap: 10vw;
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	header {
		
		article:nth-child(2) {
			menu {
				gap: 3vw;
			}
		}
	}
	
	body {
		section:nth-child(1) {
			article {
				a {
					gap: 1em;
					span {
						width: 1.5em!important;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1060px) {
	header {
		
		article:nth-child(1) {
			
			input#burger {
				display: block;
				
				&:checked~span {
					background: $background;
					transform: rotate(-45deg) translate(-10px, 5px);
					
					&::before {
						background: $background;
						transform: rotate(90deg) translateX(-9.5px);
					}
					
					&::after {
						opacity: 0;
						transform: translateX(-50px);
					}
				}
				
				&:checked~menu {
					position: fixed;
					top: 0;
					transition-delay: 0s;
					
					& li {
						opacity: 1;
						transition-delay: .4s;
					}
					
					& div {
						opacity: 1;
						transition-delay: .4s;
					}
				}
			}
			
			span {
				display: inline;
			}
			
			menu {
				width: 100vw;
				height: 100vh;
				position: absolute;
				left: 0;
				top: -100vh;
				background: $white;
				flex-direction: column;
				z-index: 100;
				gap: 2vw;
				
				ul {
					flex-direction: column;
					width: 100%;
					gap: 0;
				
					li {
						font-size: 1.5vw;
						opacity: 0;
						width: 100%;
					
						a {
							color: $background;
							padding: 2vw 0;
							width: 100%;
							
							&:hover {
								background: hsla(0, 0%, 0%, 0.05);
							}
						}
					}
				}
				
				div {
					flex-direction: column;
					opacity: 0;
					transition: all .3s ease;
					transition-delay: 0s;
					margin: 2em 0;
					gap: 2em;
					
					a {
						
						&:first-child {
							color: $background;
						}
						
						&:last-child {
							background: $background;
							
							i {
								color: $white;
							}
							
							&:hover {
								background: $aHover;
								color: $white;
								
								i {
									color: $white;
								}
							}
						}
						
						&:hover {
							color: $aHover;
						}
					}
				}
			}
			
			div {
				gap: 1em;
			}
			
			i#burger {
				display: flex;
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	section:nth-child(4) {
		article {
			figure {
				div {
					gap: 2em;
					h3 { font-size: 1.5em; }
					p { font-size: 1em; }
				}
			}
		}
	}
}

@media screen and (max-width: 790px) {
	section:nth-child(4) {
		
		article {
			width: 90vw;
			
			figure {
				
				img {
					width: calc(45vw - 1em);
				}
			}
			
			figure:nth-child(1), figure:nth-child(6) {
				
				img {
					width: 90vw;
				}
			}
		}
	}
}

@media screen and (max-width: 640px) {
	body > main > section:nth-child(3) .menu {
		width: 80vw;
	}
}