

header {
    max-width: 2561px;
    max-height: 13233px;
    width: 100vw;
    height: 100vh;
/*     background-color: $background;
 */ background: no-repeat bottom url("./../img/slider/img_bg_slider_home01.jpg");
    padding: 3em 5vw;

    a {
        transition: all .3s ease;
    }

    /* NAVBAR */

    article:nth-child(1) {
        /* display: grid;
        grid-template-columns: 1fr 0.5fr 2fr 0.5fr 2fr; */
        @include flexRowCenterSpaceBetween();
        flex-wrap: wrap;

        h2 {
            @include flexRowCenter();
        }

        menu {
            @include flexRowCenter();
            

            li {
                padding: 0 1em;

                a {
                    @include flexRowCenter();
                    color: #fff;
                    text-decoration: none;
                    
                    i {
                        margin-left: 0.5em;
                    }
                    
                    &:hover {
                        color: $aHover;
                    }
                }
            }
        }

        div {
            @include flexRowCenter();

            a:nth-child(1) {
                color: #fff;
                text-decoration: none;
                margin-right: 3em;

             }
            a:nth-child(2) {
                color: #fff;
                background-color: $aHover;
                border-radius: 5px; 
                text-decoration: none;
                padding: 1.5em 2.5em;
                font-size: 0.8em;
                font-weight: 800;
                transition: all .3s ease;
                
                i {
                    margin-left: 1rem;
                }
                
                &:hover {
                    background: $white;
                    color: $aHover;
                    
                    i {
                        color: $aHover;
                    }
                }
             }
        }
    }
    
    /* TITLE */

    article:nth-child(2) {
        
        width: calc(100% - 10rem);
        margin-top: 5em;
        margin-left: 10vw;
        

        div {
            position: relative;

            h1 {
                font-size: 6em;
                color: #fff;
                margin-bottom: 2rem;
                text-align: left;
                
            }

            figure {
                position: absolute;
                top: 0;
                left: 20vw;

                width: auto;
                height: 16px ;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            a {
                color: #fff;
                padding: 1em 2em;
                border: 1px solid hsla(0, 0%, 100%, 0.4);
                border-radius: 5px;
                
                &:hover {
                    background: hsla(0, 0%, 100%, 0.4);
                }
            }
        }
    }

}