

header {
    width: 100vw;
    height: 100vh;
    background: no-repeat bottom url("./../img/slider/img_bg_slider_home01.jpg");
    background-size: cover;
    padding: 3vw 5vw;
    position: relative;

    a {
        transition: all .3s ease;
    }

    /* NAVBAR */

    article:nth-child(1) {
        /* display: grid;
        grid-template-columns: 1fr 0.5fr 2fr 0.5fr 2fr; */
        @include flexRowCenterSpaceBetween();
        flex-wrap: wrap;
        color: $aHover;

        h2 {
            @include flexRowCenter();
        }
        
        input#burger {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            z-index: 200;
            @include burgerBtn(30px, 30px);
            cursor: pointer;
            display: none;
        }
        
        span, span::before, span::after {
            background: $aHover;
            transition: all .3s ease;
        }
        
        span {
            display: none;
            z-index: 190;
            @include burgerBtn(30px, 3px);
            
            &::before, &::after {
                content: "";
                width: 30px;
                height: 3px;
                position: absolute;
                top: 10px
            }
            
            &::after {
                top: 20px;
            }
        }
        h2 {
            img {
                width: 10vw;
            }
        }
        
        menu {
            @include flexRowCenter();
            transition: all .3s ease;
            transition-delay: .4s;
            gap: 25vw;
            
            ul {
                @include flexRowCenter();
                gap: 1vw;
            
                li {
                    @include flexRowCenter();
                    transition: all .3s ease;
                    transition-delay: 0s;

                    a {
                        @include flexRowCenter();
                        color: #fff;
                        text-decoration: none;
                        font-size: 1vw;
                    
                        i {
                            margin-left: 0.5vw;
                            }
                    
                        &:hover {
                            color: $aHover;
                        }
                    }
                }
            }
        }

        div {
            @include flexRowCenter();
            gap: 3em;

            a:nth-child(1) {
                @include flexRowCenter();
                gap: 0.5em;
                color: #fff;
                text-decoration: none;
                font-size: 1vw;
                
                img {
                    width: 1vw;
                }

             }
            a:nth-child(2) {
                color: #fff;
                background-color: $aHover;
                border-radius: 5px; 
                text-decoration: none;
                padding: 1vw 1.5vw;
                font-size: 0.8vw;
                font-weight: 800;
                transition: all .3s ease;
                
                i {
                    margin-left: 1vw;
                }
                
                &:hover {
                    background: $white;
                    color: $aHover;
                    
                    i {
                        color: $aHover;
                    }
                }
             }
        }
    }
    
    /* TITLE */

    article:nth-child(2) {
        height: 100%;
        width: 100%;
        margin-top: 5vw;
        margin-left: 10vw;
        

        div {
            position: relative;

            h1 {
                font-size: 6vw;
                color: #fff;
                margin-bottom: 2vw;
                text-align: left;
                
            }

            figure {
                position: absolute;
                top: 0;
                left: 20vw;

                img {
                    width: 7vw;
                    height: auto;
                }
            }

            a {
                margin-top: 2vw;
                color: #fff;
                padding: 1em 2em;
                border: 1px solid hsla(0, 0%, 100%, 0.4);
                border-radius: 0.1vw;
                font-size: 1vw;
                
                &:hover {
                    background: hsla(0, 0%, 100%, 0.4);
                }
            }
        }
    }

}

@media screen and (max-width: 1000px) {
    header {
        padding: 3em 5em;
        
        article:nth-child(1) {
            h2 {
                img {
                    width: 10em;
                }
            }
            
            menu {
                ul {
                    li {
                        a {
                            font-size: 4em;
                            padding: 2rem 0!important;
                            
                            i { font-size: 1em; }
                        }
                    }
                }
            }
            
            div {
                a:first-child {
                    font-size: 1.5em;
                    
                    img {
                        width: 1em;
                    }
                }
                
                a:last-child {
                    font-size: 1.5em;
                    padding: 1em 1.5em;
                }
            }
        }
        
        article:nth-child(2) {
            div {
                h1 {
                    font-size: 4.5em;
                }
                
                img {
                    width: 3rem;
                }
                
                a {
                    margin-top: 2em;
                    font-size: 1em;
                }
            }
        }
    }
}