

header {
    max-width: 2561px;
    max-height: 13233px;
    width: 100vw;
    height: 100vh;
/*     background-color: $background;
 */ background: no-repeat bottom url("./../img/slider/img_bg_slider_home01.jpg");
    padding: 3em 5vw;
    position: relative;

    a {
        transition: all .3s ease;
    }

    /* NAVBAR */

    article:nth-child(1) {
        /* display: grid;
        grid-template-columns: 1fr 0.5fr 2fr 0.5fr 2fr; */
        @include flexRowCenterSpaceBetween();
        flex-wrap: wrap;
        color: $aHover;

        h2 {
            @include flexRowCenter();
        }
        
        menu {
            @include flexRowCenter();
            transition: all .3s ease;
            transition-delay: .4s;
            gap: 1em;
            
            li {
                @include flexRowCenter();
                transition: all .3s ease;
                transition-delay: 0s;

                a {
                    @include flexRowCenter();
                    color: #fff;
                    text-decoration: none;
                    
                    i {
                        margin-left: 0.5em;
                    }
                    
                    &:hover {
                        color: $aHover;
                    }
                }
            }
        }

        div {
            @include flexRowCenter();
            gap: 3em;

            a:nth-child(1) {
                @include flexRowCenter();
                gap: 0.5em;
                color: #fff;
                text-decoration: none;
                
                img {
                    width: 1em;
                }

             }
            a:nth-child(2) {
                color: #fff;
                background-color: $aHover;
                border-radius: 5px; 
                text-decoration: none;
                padding: 1em 1.5em;
                font-size: 0.8em;
                font-weight: 800;
                transition: all .3s ease;
                
                i {
                    margin-left: 1rem;
                }
                
                &:hover {
                    background: $white;
                    color: $aHover;
                    
                    i {
                        color: $aHover;
                    }
                }
             }
        }
        
        i#burger {
            margin-left: 1em;
            width: 2em;
            aspect-ratio: 1 / 1;
            border-radius: 5px;
            background: $aHover;
            @include flexRowCenter();
            font-size: 1.5em;
            color: $white;
            transition: all .3s ease;
            display: none;
            cursor: pointer;
            
            &:hover {
                background: $white;
                color: $aHover;
            }
        }
    }
    
    /* TITLE */

    article:nth-child(2) {
        
        width: calc(100% - 10rem);
        margin-top: 5em;
        margin-left: 10vw;
        

        div {
            position: relative;

            h1 {
                font-size: 6em;
                color: #fff;
                margin-bottom: 2rem;
                text-align: left;
                
            }

            figure {
                position: absolute;
                top: 0;
                left: 20vw;

                width: auto;
                height: 16px ;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            a {
                color: #fff;
                padding: 1em 2em;
                border: 1px solid hsla(0, 0%, 100%, 0.4);
                border-radius: 5px;
                
                &:hover {
                    background: hsla(0, 0%, 100%, 0.4);
                }
            }
        }
    }

}

@media screen and (max-width: 1060px) {
    header {
        
        article:nth-child(1) {
            position: relative;
            
            menu {
                width: 90%;
                height: 0px;
                background: hsla(0, 0%, 0%, 0.7);
                position: absolute;
                flex-direction: column;
                top: 150px;
                left: 5%;
                z-index: 100;
                gap: 3em;
                border-radius: 5px;
                
                &::after {
                    content: "";
                    width: 0px;
                    aspect-ratio: 1 / 1;
                    border: 0px solid transparent;
                    border-right-color: hsla(0, 0%, 0%, 0.7);
                    position: absolute;
                    top: -35px;
                    right: 0;
                    transition: all .3s ease;
                }
                
                
                &.display {
                    height: 500px;
                    transition-delay: 0s;
                    box-shadow: 0px 0px 5em hsla(0, 0%, 0%, 0.5);
                    
                    &::after {
                        border: 40px solid transparent;
                        border-right-color: hsla(0, 0%, 0%, 0.7);
                    }
                    
                    li {
                        opacity: 1;
                        transition-delay: .4s;
                    }
                }

                li {
                    font-size: 2em;
                    opacity: 0;
                    
                    a {
                        color: $white;
                        
                        &:hover {
                            color: $aHover;
                        }
                    }
                }
            }
            
            div {
                gap: 1em;
            }
            
            i#burger {
                display: flex;
            }
        }
    }
}