section {
	width: 100%;
	position: relative;
	
	&>p:last-child {
		position: absolute!important;
		z-index: 1;
		top: 5vh;
		left: 0;
		font-size: 11vw!important;
		color: hsla(40, 46%, 60%, 0.2)!important;
	}
	
	&:nth-child(1) {
		background-image: url("../img/banner/imgbgcategory.jpg");
		background-color: $backgroundSection;
		background-size: cover;
		background-position: center;
		background-blend-mode: multiply;
		@include flexColumnCenter();
		padding: 15vh 5vw 35vh 5vw;
		
		h2 {
			margin-bottom: 0.5em;
			
			&~p {
				margin-bottom: 10em;
				font-weight: 200;
				font-size: 0.8vw;
			}
		}
		
		article {
			width: 100%;
			@include flexRowCenter();
			flex-wrap: wrap;
			gap: 2vw;
			position: relative;
			z-index: 10;
			
			a {
				width: 12vw;
				height: 15vw;
				padding: 1em 0.5em;
				background: $backgroundCategory;
				@include flexColumnCenter();
				gap: 1vw;
				color: $textCategory;
				transition: all .3s ease;
				font-size: 1.2vw;
				
				&:nth-child(1) {
					@include backgroundImage('../img/icon/icon-dark/burger.svg', '../img/icon/icon-light/burger.svg');
				}
				
				&:nth-child(2) {
					@include backgroundImage('../img/icon/icon-dark/pizza.svg', '../img/icon/icon-light/pizza.svg');
				}
				
				&:nth-child(3) {
					@include backgroundImage('../img/icon/icon-dark/coffee.svg', '../img/icon/icon-light/coffee.svg');
				}
				
				&:nth-child(4) {
					@include backgroundImage('../img/icon/icon-dark/chicken-leg.svg', '../img/icon/icon-light/chicken-leg.svg');
				}
				
				&:nth-child(5) {
					@include backgroundImage('../img/icon/icon-dark/cocktail.svg', '../img/icon/icon-light/cocktail.svg');
				}
				
				&:nth-child(6) {
					@include backgroundImage('../img/icon/icon-dark/shrimp.svg', '../img/icon/icon-light/shrimp.svg');
				}
				
				&:hover {
					background: $aHover;
					color: $white;
					
					i {
						color: $white;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	section:nth-child(1) {
		&>h2 { 
			font-size: 2.5em;
			
			&~p {
				font-size: 1.5rem;
				margin-bottom: 5em;
			}
		}
		article a {
			width: 200px;
			height: 240px;
			font-size: 1.5em;
			
			span {
				width: 3em;
			}
		}
	}
}