@font-face {
	font-family: "flaticon";
	src: url("../font/flaticon.ttf");
}

section {
	width: 100%;
	position: relative;
	
	&>p:last-child {
		position: absolute!important;
		z-index: 1;
		top: 5vh;
		left: 0;
		font-size: 11em!important;
		color: hsla(40, 46%, 60%, 0.2)!important;
	}
	
	&:nth-child(1) {
		/*background: $backgroundSection url("../img/banner/imgbgcategory.jpg") top no-repeat;*/
		background: $backgroundSection;
		mix-blend-mode: multiply;
		@include flexColumnCenter();
		padding: 15vh 5vw 35vh 5vw;
		
		h2 {
			margin-bottom: 0.5em;
			
			&~p {
				margin-bottom: 10em;
				font-weight: 200;
			}
		}
		
		article {
			width: 100%;
			@include flexRowCenter();
			flex-wrap: wrap;
			gap: 2em;
			position: relative;
			z-index: 10;
			
			a {
				width: 180px;
				min-height: 205px;
				padding: 1em 0.5em;
				background: $backgroundCategory;
				@include flexColumnCenter();
				gap: 1em;
				color: $textCategory;
				transition: all .3s ease;
				font-size: 1.2em;
				
				img {
					width: 2em;
				}
				
				&:hover {
					background: $aHover;
					color: $white;
					
					i {
						color: $white;
					}
				}
			}
		}
	}
}