.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

/* || GENERAL STYLES */

section:nth-child(6) {
    background-color: $backgroundCategory;
    width: 100vw;
    min-height: 100vh;
    @include flexColumnCenter();
    gap: 2vw;
    
    h2 {
        letter-spacing: .1vw;
        font-size: 3vw;
        margin-top: 10vh;
        margin-bottom: 2vh;
    }
    .blog_p_description {
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        font-size: 0.7vw;
    }
    
    .blog_p, .blog_a_readmore {
        font-family: "Helvetica", sans-serif;
        font-size: 0.7vw;
        }
    .blog_p_date, .blog_cite_author {
        font-size: 0.8vw;
        font-family: "Helvetica", sans-serif;
    }
}

.blog_div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 2vw;
}

.blog_article {
    width: 25vw;
    background-color: $backgroundSection;
    padding-bottom: 1vw;
}

.blog_figure {
    width: 100%; 
    height: auto;
}

.blog_img.picture {
    width: 100%; height: auto;
}

.blog_span {
    display: flex;
    align-items: center;
    padding-left: $ARTICLE-LEFT-PADDING;
    padding-top: 1vw;

}
.blog_cite_author, .blog_p_date {
    margin: auto 2em auto 0;
    @include flexRowCenter();
    font-style: normal;
}

.blog_p_description {
    padding-left: $ARTICLE-LEFT-PADDING;
    margin-top: $margin-top;

}

.blog_a_readmore {
    display: inline-block;
    margin: $margin-top 0 1vw 1.5vw;
    color: #000;
    background-color: $white;
    padding: 1vw 1.5vw;
	transition: all .3s ease;
    
        i {
            margin-left: 0.5vw;
        }
    
		&:hover {
			background-color: $aHoverBackground;
            color: $white;
            
            i {
                color: $white;
            }
		}
}

.blog_ul {
    display: flex;
    justify-content: space-evenly;
    filter: saturate(0);
    margin: 0 10vw;
    gap: 5vw;
}

.blog_li {
    margin: auto;
    
    img {
        width: 10vw;
    }
}

.brand {
    width: 2vw;
}


@media screen and (max-width: 1000px){
    section:nth-child(6) {
       gap: 2em;
        
        h2 {
            letter-spacing: 0.1em;
            font-size: 3rem;
            
            &~p {
                font-size: 1.5rem;
            }
        }
        .blog_p_description {
            font-size: 0.7rem;
        }
        
        .blog_p, .blog_a_readmore {
            font-size: 0.7rem;
        }
        .blog_p_date, .blog_cite_author {
            font-size: 0.8rem;
        }
    }
    
    .blog_div {
        gap: 2em;
    }
    
    .blog_article {
        padding-bottom: 1em;
        width: 90vw;
    }
    .blog_span {
        padding-top: 1em;
    
    }
    .blog_cite_author, .blog_p_date {
        margin: auto 2em auto 0;
    }
    .blog_a_readmore {
        margin: $margin-top 0 1em 1.5em;
        padding: 1em 1.5em;
        
            i {
                margin-left: 0.5em;
            }
    }
    
    .blog_ul {
        gap: 2em;
    }
    .brand {
        width: 75px;
    }
    
    
}