section:nth-child(4) {
	@include flexColumnCenter();
	position: relative;
	z-index: 30;
	padding: 20vh 0;
	
	article {
		width: 80%;
		@include flexRowCenter();
		flex-wrap: wrap;
		gap: 2vw;
		margin-top: 20vh;
		margin-bottom: 10vh;
		
		figure:nth-child(1), figure:nth-child(6) {
			
			img {
				width: 35vw;
			}
		}
		
		figure {
			position: relative;
			
			img {
				position: relative;
				z-index: 30;
				width: 16.7vw;
			}
			
			div {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 30;
				transition: all .5s ease;
				@include flexColumnCenter();
				
				i, h3, p {
					position: absolute;
					color: $white;
					transition: all .5s ease;
					opacity: 0;
				}
				
				i {
					top: 2em;
					right: 2em;
					font-size: 1.3vw;
					z-index: 35;
				}
				
				h3 {
					@include positioning(40%, 1.6vw, 40);
				}
				
				p {
					@include positioning(35%, 0.9vw, 45);
				}
				
				&:hover {
					background-color: hsla(0, 0%, 13%, 0.8);
					
					& i, & h3, & p {
						opacity: 1;
					}
				}
			}
		}
	}
	
	a {
		color: $textCategory;
		border: 2px solid hsla(0, 0%, 13%, 0.1);
		padding: 1vw 1.5vw;
		transition: all .3s ease;
		font-size: 1.5vw;
		
		i {
			color: $textCategory;
			margin-left: 1em;
		}
		
		&:hover {
			border-color: $textCategory;
		}
	}
}

@media screen and (max-width: 1000px) {
	section:nth-child(4) {
		padding-top: 8em;
		padding-bottom: 5em;
		
		h2 {
			font-size: 2em;
			&~p { font-size: 1.5rem }
		}
		
		article {
			gap: 2em;
			figure {
				div {
					i {
						font-size: 1.3rem;
					}
				}
			}
		}
		
		a {
			font-size: 1rem;
			padding: 1em 1.5em;
			
			i {
				margin-left: 1em;
			}
		}
	}
}
@media screen and (max-width: 500px) {
	section:nth-child(4) {
		article {
			figure {
				div {
					h3 {
						font-size: 1.1rem!important;
					}
					p {
						font-size: 0.9rem!important;
					}
				}
			}
		}
	}
}