body > main > section:nth-child(3) {
    width: 100vw;
    min-height: 100vh;
    background-color: #faf6f0;
    position: relative;
    @include flexColumnCenter();
    padding: 3rem 0;

    h2 {

        font-size: 2em;
        margin-bottom: 2rem;
        position: relative;
        z-index: 2;
        font-weight: 400;
    }
    
    p {
        position: relative;
        font-size: 1vw;
        color: rgb(90, 90, 90);
        z-index: 3;
    }

    article {
        width: 100%;
        @include flexRowCenter();
        flex-wrap: wrap;
        z-index: 10;
        position: relative;
        gap: 2em;
        padding: 3em;
    }

    .menu {
        width: 40vw;
        border: 2px dashed transparent;
        display: flex;
        flex-wrap: nowrap;
        margin: 0;
        padding: 2rem;
    
        div {
            @include flexColumnCenterFlexStart();
        }

        &:hover {
            border: 2px dashed $aHover;
        }
    }
    /* PAIN */
    figure:nth-child(5) {

        position: absolute;
        top: 0;
        right: 0;
        width: 30vw;
        height: 100vh;
        z-index: 0;

        img {
            width: auto;
            height: 100vh;
            z-index: -1;
        }
    }
    /* STEAK  */
    figure:nth-child(4) {

        position: absolute;
        bottom: -10vh;
        left: 0;
        width: 20vw;
        height: 50vh;
        z-index: 0;

        img {
            width: auto;
            height: 55vh;
            z-index: -1;
        }
    }
}


body > main > section:nth-child(3) > article > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 492px;
    padding: 0 2rem;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 1rem;
    
    

    .price {
        margin-left: 3em;
        font-size: 2vw;
        color: $aHover;
    }
}

.menu > div > p {
    text-align: left;
    width: 100%;
    font-size: 0.7vw;
    
}



body > main > section:nth-child(3) > p:nth-child(6) {
    z-index: 0;
    font-family: 'Playfair Display', serif; 
}

@media screen and (max-width: 640px) {
    body > main > section:nth-child(3) .menu {
        width: 80vw;
    }
}