@mixin flexRow() {
	display: flex;
	flex-direction: row;
}

@mixin flexColumn() {
	display: flex;
	flex-direction: column;
}

@mixin flexRowCenter() {
	@include flexRow();
	align-items: center;
	justify-content: center;
}

@mixin flexColumnCenter() {
	@include flexColumn();
	align-items: center;
	justify-content: center;
}

@mixin flexRowCenterFlexStart() {
	@include flexRow();
	align-items: center;
	justify-content: flex-start;
}

@mixin flexColumnCenterFlexStart() {
	@include flexColumn();
	align-items: flex-start;
	justify-content: center;
}

@mixin flexRowCenterSpaceBetween() {
	@include flexRow();
	align-items: center;
	justify-content: space-between;
}

@mixin flexColumnCenterSpaceBetween() {
	@include flexColumn();
	align-items: center;
	justify-content: space-between;
}

@mixin positioning($bottom, $fontSize, $zIndex) {
	bottom: $bottom;
	font-size: $fontSize;
	z-index: $zIndex;
}

@mixin burgerBtn($width, $height) {
	position: fixed;
	top: 3rem;
	right: 5vw;
	width: $width;
	height: $height;
}