$textCategory: #202020;
$aHover: #c7a86a;
$backgroundCategory: #fefefe;
$backgroundSection: #faf6f0;

/* Footer */
$background: #090d0f;
$white: #FFF;
$light-gray: #bababa;
$aHoverBackground: #c8a96a;

$BORDERS: 1px solid black;
$BORDER-RADIUS: 5px;
$PADDING-X: 1em;
$PADDING-Y: 1em;
$ARTICLE-WIDTH: 300px;
$ARTICLE-LEFT-PADDING: 1.5em;
$margin-top: 1em;
