$textCategory: #202020;
$aHover: #c8a96a;
$backgroundCategory: #fefefe;
$backgroundSection: #faf6f0;


/* Footer */
$background: #090d0f;
$white: #FFF;
$light-gray: #bababa;
$aHoverBackground: #c8a96a;

